In [7]:
def val(a,b):
    print("value of a is",a)
    print("value of b is",b)
    def add(a,b):
        c=a+b
        print("The valuer of c is",c+6)
        print("Sum of a and b is ",c)

In [10]:
val(2,3)
add(2,3)

value of a is 2
value of b is 3

TypeError: add() takes 1 positional argument but 2 were given

In [11]:
def add(a):
    d=0
    for i in a:
        d+=i
    print(d)

In [30]:
add([1,2,3,4,5,6,7,8,9,10])

55

In [40]:
def lists(a,b):
    print(a[1::2])
    print(b[0::2])

In [41]:
lists([1,2,3,4,5,6,7,8,9],[3,2,1,4,5,6,7,8,3])

[2, 4, 6, 8]
[3, 1, 5, 7, 3]

In [52]:
def lists(a):
    b= a.pop(4)
    print("List after removing 4th index ",a)
    a.insert(2,b)
    print("List after adding  2th index ",a)
    a.append(b)
    print("List after adding  at the end index ",a)

In [53]:
lists([20,30,40,50,60,70,10])

List after removing 4th index  [20, 30, 40, 50, 70, 10]
List after adding  2th index  [20, 30, 60, 40, 50, 70, 10]
List after adding  at the end index  [20, 30, 60, 40, 50, 70, 10, 60]

In [57]:
def list(a):
    d={}
    for i in a:
        if i in d:
            d[i]+=1
        else:
            d[i]=1
    print(d)

In [58]:
list([11,1,2,1,3,111,11,11,11])

{11: 4, 1: 2, 2: 1, 3: 1, 111: 1}

In [59]:
first_set = {57, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

print("First Set ", first_set)
print("Second Set ", second_set)

print("First set is subset of second set -", first_set.issubset(second_set))
print("Second set is subset of First set - ", second_set.issubset(first_set))

print("First set is Super set of second set - ", first_set.issuperset(second_set))
print("Second set is Super set of First set - ", second_set.issuperset(first_set))

if first_set.issubset(second_set):
    first_set.clear()

if second_set.issubset(first_set):
    second_set.clear()

print("First Set ", first_set)
print("Second Set ", second_set)

First Set  {57, 83, 29}
Second Set  {48, 67, 83, 73, 43, 29, 57}
First set is subset of second set - True
Second set is subset of First set -  False
First set is Super set of second set -  False
Second set is Super set of First set -  True
First Set  set()
Second Set  {48, 67, 83, 73, 43, 29, 57}

In [79]:
a=[21,22,23,24,46,45,44]
b={"name": "Ganesh","age":47,"age1":21,"age2":22,"age3":23}
c=(b.values())
d=[]
for i in a:
    if i not in c:
        d.append(i)
print(d)

[24, 46, 45, 44]

In [93]:
a={"name": "Ganesh","age":47,"age1":21,"age2":22,"age3":23,"age4":23,"age5":22}
b=(a.values())
c=[]
for i in b:
    if i not in c:
        c.append(i)
print(c)

['Ganesh', 47, 21, 22, 23]

In [119]:
def lists(a):
    b=(set(a))
    
    print(b)
    print(tuple(a))
    print(max(a))
    print(min(a))

In [120]:
lists([21,22,23,24,25,26,27,22,23,24,25])

{21, 22, 23, 24, 25, 26, 27}
(21, 22, 23, 24, 25, 26, 27, 22, 23, 24, 25)
27
21

In [129]:
n = 6  
for i in range(0,n):  
        for j in range(0, i + 1):  
            # printing stars  
            print(j+1,end=" ") 
        print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [14]:
def mul(mulnum, endnum):
    for i in range (endnum):
           print(i*mulnum)

In [15]:
mul(2,10)

0
2
4
6
8
10
12
14
16
18

In [ ]:
def lists(a):
    for i in a:
        if i >500:
            break
        if