In [1]:
a='w3schools.com'
print(len(a))

13

In [7]:
def strlen(a):
    print(len(a))

In [8]:
strlen('good')

4

In [49]:
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [14]:
def sum(num):
    sum_num=0
    for i in num:
        sum_num=sum_num+i
    print(sum_num)

In [15]:
sum([9,6,5])

20

In [18]:
def mult(num):
    mul_num=1
    for i in num:
        mul_num*=i
    print(mul_num)

In [20]:
mult([2,3,4])

24

In [28]:
def large(num):
    max=num[0]
    for i in num:
        if i>max:
            max=i
    print(max)

In [29]:
large([5,10,15])

15

In [32]:
def small(num):
    min=num[0]
    for i in num:
        if i < min:
            min=i
    print(min)

In [35]:
small([10,500,200])

10

In [50]:
def char_frq(str1):
    dict = {}
    for i in str1:
        keys = dict.keys()
        if i in keys:
            dict[i]+=1
        else:
            dict[i]=1
    return(dict)

In [51]:
char_frq('google')

{'g': 2, 'o': 2, 'l': 1, 'e': 1}

In [54]:
def a(words):
    i=0
    for words in words:
        if(len(words)>1 and words[0]==words[-1]):
            i+=1
    
    print(i)

In [56]:
a(['abc','aba','bab'])

2

In [78]:
def lists(a):
    if (len(a)>1):
        print(a[0:2]+a[-2:])
    else:
        print('')

In [80]:
lists('w')

In [ ]:
Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [111]:
def chars_mix_up(a, b):  
  new_a = b[:2] + a[2:]  
  new_b = a[:2] + b[2:]  
  
  return new_a + ' ' + new_b  
print(chars_mix_up('abc', 'xyz'))

xyc abz

In [116]:
a='abc'
print(a[0:])

a

In [168]:
def chars(a):
    if a[-3:]=='ing':
         a+='ly'
    else:
        a+='ing'
    print(a)

In [169]:
chars('good')
chars('going')

gooding
goingly

In [44]:
def chars(a):
    leng=[]
    for i in a:
        if(leng==0):
            leng=leng.append(i)
        print(leng)

chars(['good','bad'])

In [48]:
def chars(a):
    leng=[]
    for i in a:
        leng.append((len(i), i))
        leng.sort()
        return(leng[-1][1])

In [49]:
chars(['good','bad'])

'good'

In [55]:
a={"name":"Ganesh"}
a["age"]="20"
print(a)

{'name': 'Ganesh', 'age': '20'}

In [52]:
print(a)

{'name': 'Ganesh'}

In [66]:
a={"name": "Ganesh", "age":"21"}
def keys(b):
    if (b in a):
        print("Keys exists")
    else:
        print("Key dont exist")

In [68]:
keys('ne')

Key dont exist

In [69]:
a=[1,1,1,2,2,3,3,3]
print(list(set(a)))

[1, 2, 3]

In [70]:
def lists(a):
    if (len(a)>1):
        print("list is not empty")
    else:
        print("list is empty")

In [75]:
lists([])

list is empty

In [83]:
a=[1,2,3]
b=a.copy()
print(b)

[1, 2, 3]

In [84]:
def remove_char(str, n):  
      first_part = str[:n]   
      last_pasrt = str[n+1:]  
      return first_part + last_pasrt  
print(remove_char('Python', 0))  
print(remove_char('Python', 3))  
print(remove_char('Python', 5))

ython
Pyton
Pytho

In [92]:
def chars(a,n):
    a1=a[:n]
    a2=a[n+1:]
    return(a1+a2)

In [94]:
chars("Ganesh",3)

'Gansh'

In [95]:
def odd_values_string(str):  
  result = ""   
  for i in range(len(str)):  
    if i % 2 == 0:  
      result = result + str[i]  
  return result  
  
print(odd_values_string('abcdef'))  
print(odd_values_string('python'))

ace
pto

In [132]:
def lists(n,a):
    b=[]
    txt = a.split(" ")
    print(txt)
    for i in txt:
        if len(i)>n:
            b.append(i)
    return(b)

In [133]:
lists(3, "The quick brown fox jumps over the lazy dog")

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

['quick', 'brown', 'jumps', 'over', 'lazy']

In [170]:
def lists(a):
    b={}
    txt= a.split(" ")
    for i in txt:
        if i  in b:
            b[i]+=1
        elif (i not in b):
            b[i]=1
    print(b)

In [171]:
lists("The god  The is god")

{'The': 2, 'god': 2, '': 1, 'is': 1}

In [156]:
count = dict()
print(count)

{}

In [8]:
def comp(a,b):
    
    for i in a:
        for y in b:
            if i==y:
                result=True
                return result
    result="false"
    print(result)

In [10]:
comp([1,2,3,4],[5])

false

In [12]:
def maxi(a,b,c):
    print(max(a,b,c))

In [13]:
maxi(10,12,13)

13

In [15]:
def sumi(a):
    x=0
    for i in a:
        x+=i
    print(x)

In [17]:
sumi([1,2,3,10,100,200,22])

338

In [18]:
def rev(a):
    print(a[::-1])

In [19]:
rev('Ganesh')

hsenaG

In [1]:
def factorial(n):
    return n*factorial(n-1)
    print(result)

In [1]:
factorial(6)

NameError: name 'factorial' is not defined

In [3]:
def factorial(n):
    result= n*factorial(n-1)
    print(result(n))

In [ ]:
factorial(6)

In [4]:
def prime(a):
    for i in (2,int(a/2+1)):
        if(a%i==0):
            print("Not Prime")
        else:
            print("prime")

In [2]:
prime(3)

prime
prime

In [5]:
def lists(a):
    d=[]
    for i in a:
        if i%2==0:
            d.append(i)
    print(d)

In [10]:
lists([1,2,3])

[2]

In [14]:
def palin(a):
    b=a[::-1]
    if(a==b):
        print("Palindrome")
    else:
        print("Not Palindrome")

In [15]:
palin('madam')

Palindrome

In [47]:
import string
albhpabet=set(string.ascii_lowercase)

def panagram(a):
    b=set(a.lower())
    print(b)
    if( in a == b):
        print("true")
    else:
        print("False")

In [48]:
panagram("The quick brown fox jumps over the lazy dog")

{'q', 'g', 'p', 'i', 'y', 'b', 'n', 'd', 'z', 'm', 'f', 'v', 'u', 'x', 'l', 'h', 't', 'e', 'k', 'j', ' ', 'w', 's', 'c', 'r', 'a', 'o'}

NameError: name 'char' is not defined

In [74]:
def chars(a):
    b=a.split('-')
    print(b)
    b.sort()
    print('-'.join (b))

In [75]:
chars("red-green-yellow")

['red', 'green', 'yellow']
green-red-yellow

In [89]:
def squ():
    b=[]
    for a in range(1,31):
            b.append(a**2)
    print(b)

In [90]:
squ()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [93]:
def fun():
    a=2
    b=3
    
print(fun.__code__.co_nlocals)

2

In [6]:
def a(name=None,salary=None):
    if salary!=None:
        print(name,salary)
    else:
        print("name: ",name, "salary:9000")

In [7]:
a("ram")

name:  ram salary:9000

In [16]:
def a():
    sum=0
    for i in range(0,11):
        sum+=i
    print(sum)

In [17]:
a()

55

In [20]:
def a(name,age):
    print(name,age)
b=a

In [19]:
a("Ganesh",21)

Gamesh 21

In [21]:
b("Ram",31)

Ram 31

In [21]:
class employee():
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
    def basicsalary(self):
        basic=(50*self.salary)/100
        print("Basic salary is ",basic)
    def allowance(self):
        allowance=(20*self.salary)/100
    def tax(self):
        tax=(30*self.salary)/100

In [22]:
a=employee("Ram",1000)
a.basicsalary()

Basic salary is  500.0

In [27]:
class employee():
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
        print("The Name of Employee is ",self.name)
        print("Then salary of employee is ",self.salary)
class salarydetails(employee):
    def basic_salary(self):
        basic=(50*self.salary)/100
        print("The Basic Salary is ",basic)
    def allowance(self):
        allowance=(20*self.salary)/100
        print("The allowance is ",allowance)
    def tax(self):
        tax=(30*self.salary)/100
        print("The Tax amount is",tax)

In [28]:
a=salarydetails("Ganesh",2000)
a.basic_salary()
a.allowance()
a.tax()

The Name of Employee is  Ganesh
Then salary of employee is  2000
The Basic Salary is  1000.0
The allowance is  400.0
The Tax amount is 600.0

In [25]:
a=basicsalary("Ganesh",2000)
a.basicsalary()

NameError: name 'basicsalary' is not defined

In [186]:
class employee():
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
        print("The Name of Employee is ",self.name)
        print("Then salary of employee is ",self.salary)
class salarydetails(employee):
    def basic_salary(self):
        basic=(50*self.salary)/100
        print("The Basic Salary is ",basic)
class allowance(salarydetails):
    def allowance(self):
        allowance=(20*self.salary)/100
        print("The allowance is ",allowance)
class tax(allowance):
    def tax(self):
        tax=(30*self.salary)/100
        print("The Tax amount is",tax)

In [188]:
a=tax("Ganesh",1000)
a.basic_salary()
a.allowance()
a.tax()

The Name of Employee is  Ganesh
Then salary of employee is  1000
The Basic Salary is  500.0
The allowance is  200.0
The Tax amount is 300.0

In [33]:
class employee():
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
class salarydetails(employee):
    def salary_breakup(self):
        basic=(50*self.salary)/100
        allowance=(20*self.salary)/100
        tax=(30*self.salary)/100
        print("The Name of Employee is",self.name,"\n" "Then salary of employee is",self.salary)
        print("The Basic Salary is ",basic)
        print("The allowance is ",allowance)
        print("The Tax amount is",tax)

In [34]:
a=salarydetails("Ganesh",1000)
a.salary_breakup()

The Name of Employee is Ganesh
Then salary of employee is 1000
The Basic Salary is  500.0
The allowance is  200.0
The Tax amount is 300.0

In [46]:
 class employee():
       
#         def getval(self):
#             return self.__salary
#         def setval(self,salary):
#              self.__salary=salary
        def __init__(self,name):
                self.name=name
                self. __salary=1000
class salarydetails(employee):
    def salary_breakup(self):
        basic=(50*self.__salary)/100
        allowance=(20*self.__salary)/100
        tax=(30*self.__salary)/100
        
        print("The Name of Employee is",self.name,"\n" "Then salary of employee is",self.salary)
        print("The Basic Salary is ",basic)
        print("The allowance is ",allowance)
        print("The Tax amount is",tax)

In [47]:
a=employee("Ganesh")
a.salary_breakup()

AttributeError: 'employee' object has no attribute 'salary_breakup'

In [1]:
class vehicle():
    def max_speed(self):
        print("Max Speed")
    def mileage(self):
        print("Mileage")

In [3]:
a=vehicle()
print(a)

<__main__.vehicle object at 0x0000023DFF3500D0>

In [25]:
class Vehicle:

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage
class Bus(Vehicle):
    pass

In [26]:
class employee():
    def __init__(self,name,salary):
        self.name=name
        
        _salary =1000
    def getval(self):
        return self.__salary
    def setval(self,salary):
        self.__salary=salary
class salarydetails(employee):
    def salary_breakup(self):
        basic=(50*self.salary)/100
        allowance=(20*self.salary)/100
        tax=(30*self.salary)/100
        print("The Name of Employee is",self.name,"\n" "Then salary of employee is",self.salary)
        print("The Basic Salary is ",basic)
        print("The allowance is ",allowance)
        print("The Tax amount is",tax)

In [30]:
a=employee("Ganesh",2000)
a.salary_breakup()

AttributeError: 'employee' object has no attribute 'salary_breakup'

In [29]:
class employee():
    def __init__(self,name):
        self.name=name
    __salary =1000
    def getval(self):
        return self.__salary
    def setval(self,salary):
        self.__salary=salary
#class salarydetails(employee):
    def salary_breakup(self):
        basic=(50*self.__salary)/100
        allowance=(20*__self.salary)/100
        tax=(30*self.__salary)/100
        print("The Name of Employee is",self.name,"\n" "Then salary of employee is",self.__salary)
        print("The Basic Salary is ",basic)
        print("The allowance is ",allowance)
        print("The Tax amount is",tax)

In [30]:
a=employee("Ganesh")
a.salary_breakup()

NameError: name '_employee__self' is not defined

In [4]:
def showemployee(name,salary=9000):
    print("Name: ",name, "Salary: ", salary)

In [6]:
showemployee("Jessa",12000)

Name:  Jessa Salary:  12000

In [7]:
def display_student(name, age):
    print(name, age)
showStudent = display_student

In [8]:
showStudent("Ganesh",21)

Ganesh 21

In [9]:
def evenno():
    for i in range(4,30):
        if i%2 ==0:
            print(i)

In [11]:
evenno()

4
6
8
10
12
14
16
18
20
22
24
26
28

In [18]:
def large(a):
    d=a[0]
    for i in a:
        if i>d:
            d=i
    return d

In [19]:
large([1,2,3])

3

In [16]:
def large(num):
    max=num[0]
    for i in num:
        if i>max:
            max=i
    print(max)

In [17]:
large([1,2,3])

3

In [49]:
def val(a,b):
    print("value of a is",a)
    print("value of b is",b)
    def add(a,b):
        c=a+b
        print("The valuer of c is",c)
        print("Sum of a and b is ",a+b)

In [50]:
val(2,3)
add(2,3)

value of a is 2
value of b is 3
Sum of a and b is  5

In [46]:
def outer_fun(a, b):
    square = a ** 2

    # inner function
    def addition(a, b):
        return a + b

    # call inner function from outer function
    add = addition(a, b)
    # add 5 to the result
    return add + 5

result = outer_fun(5, 10)
print(result)

20

In [67]:
def val(a,b):
    print("value of a is",a)
    print("value of b is",b)
    def add(a,b):
        print(a+b)
        print(a+b+5)

In [68]:
val(2,3)
add(2,3)

value of a is 2
value of b is 3
Sum of a and b is  5

In [35]:
def val(a,b):
    print("value of a is",a)
    print("value of b is",b)
def add(a,b):
        c=a+b
        print("The value of c is",c+8)
        print("Sum of a and b is ",a+b)

In [36]:
val(2,3)
add(2,3)

value of a is 2
value of b is 3
The value of c is 13
Sum of a and b is  5

In [17]:
class employee():
    def __init__(self,name):
        self.name=name
    __salary =1000
    def getval(self):
        return self.__salary
    def setval(self,salary):
        self.__salary=salary
#class salarydetails(employee):
    def salary_breakup(self):
        basic=(50*self.__salary)/100
        allowance=(20*__self.salary)/100
        tax=(30*self.__salary)/100
        print("The Name of Employee is",self.name,"\n" "Then salary of employee is",self.__salary)
        print("The Basic Salary is ",basic)
        print("The allowance is ",allowance)
        print("The Tax amount is",tax)

In [18]:
a=employee("Ganesh")
a.salary_breakup()

NameError: name '_employee__self' is not defined